+<!DOCTYPE html>
 +<html>
 +<head>
 +	<title></title>
 +</head>
 +<body>
 +	<h1>Tell us everything about yourself, everything</h1>
 +	<form action="/createpost" method="post">
 +		<input type="text" name = "userName" placeholder="What's your name?"> 
 +		<br>
 +		<input type="text" name = "blogTitle" placeholder="Tell us how you feel">
 +		<br>
 +		<input type="text" name = "blogContent" placeholder="We need to know">
 +		<br>
 +	    <input type="submit" value="Free Yourself">
 +	</form> 
 +    <li><a href="/blog">Go back</a></li>
 +</body>
 +</html>